*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    width: 50%;
    border-radius: 5px;
}

.time{
     
    margin-right: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.mistakes{
        
    margin-right: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}
span{
    margin-left: 2px;
    font-weight: bold;
}

.para p{
    margin: 10px 50px;
}
.input textarea{
    resize: none;
    width: 80%;
    margin: 10px 50px;
    min-height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
}

.buttons{
    text-align: right;
    margin: 30px;
}
#stop{
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    background-color: blue;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#start{
    padding: 10px;   
    font-size: 15px;
    background-color: blue;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .container{
       width: 90%;
        
    }
  }